{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">

		<h1 class="display-1 text-center">{{title}}</h1>

	</div>
	<div class="container">
		<br>
		<p class="display-4 text-center">{{legend}}</p>


		<br>

		<div class="text-center">
			<img src="{{home_img}}" weight="500px" height="500px">

		</div>

		<br>
		<div class="text-center">

			<a class="btn btn-success" href="/list" role="button">

				Ver produtos</a>
			<a class="btn btn-success" href="/contact" role="button">

				Contacto</a>
		</div>

	</div>


{% endblock %}
